<body bgcolor="#E6E6FA">
<h1 style="color:blue;margin-left:600px;">VINEETHA - 86010</h1>
<p>I have learned network industry standards such as : The OSI model, Routing Protocols, ARP and RARP, IP addresses and Subnetting, MAC Addressing.<br> This class also taught me the concepts of confidentiality,availability and integrity in Information Assurance, including physical, software, devices, policies and people.<br> This class gave me an understanding of professional, ethical, legal, security and social issues and responsibilities. </p>
</body>